<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DesktopApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="NetHttpBinding_IBookService">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/BookService"
        binding="customBinding" bindingConfiguration="NetHttpBinding_IBookService"
        contract="BookService.IBookService" name="NetHttpBinding_IBookService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <DesktopApplication.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>hu-HU</value>
      </setting>
    </DesktopApplication.Properties.Settings>
  </applicationSettings>
</configuration>